.myclass1 {
    font-size: 16px;
    color: limegreen;
    background-color: blueviolet;
    padding: 10px;
}

.myclass2 {
    font-size: 20px;
    color: coral;
    background-color: aqua;
    padding: 10px;
}

.myclass3 {
    font-size: 10px;
    color: deeppink;
    background-color: orange;
    padding: 10px;
}

.myclass4 {
    font-size: 24px;
    color: dodgerblue;
    background-color: indigo;
    padding: 10px;
}